<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/weather.webp">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <img class="portrait" src="/img/CV_foto_sin_fondo.png">
            <div class="cv-body">
                <div class="introduction-row">
                    <div class="introduction-text">
                        <p>Although I started my career on electronics, I have been studying several programming languages over the years. I am looking forward to improving my skills and acquiring new ones.</p>
                        <p>I am currently looking for my first working experience as a software developer, something I am hugely passionate about.</p>
                        <p>I am committed, responsible, fond of learning new technologies and very creative when solving problems, especially computing ones.</p>
                    </div>
                    <div class="introduction-personal-information">
                        <div class="personal-information-title">
                            E-mail:&nbsp;
                        </div>
                        <div class="personal-information-data">
                            cabrera57juanjo@gmail.com
                        </div>
                        <div class="personal-information-title">
                            Phone:&nbsp;
                        </div>
                        <div class="personal-information-data">
                            (+598) 95 457 017
                        </div>
                        <div class="personal-information-title">
                            Location:&nbsp;
                        </div>
                        <div class="personal-information-data">
                            Aguada, Montevideo, Uruguay
                        </div>
                    </div>
                </div>

                <h4>SKILLS</h4>

                <ul>
                    <li>
                        Imperative, object oriented programming and web developing at <i>Jóvenes a Programar (Ceibal)</i> where I learned the following languages:
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>Ruby</li>
                        </ul>
                    </li>
                    <li>Took <i> The Complete <b>Node.js</b> Developer Course </i> at <b>Udemy</b> and working on a Node.js personal project.</li>
                    <li>
                        Curricular studies at Faculty of Engineering:
                        <ul>
                            <li>Programming I (Pascal)</li>
                            <li>Programming for electrical engineering (C).</li>
                            <li>Electrical engineering introduction workshop (Arduino).</li>
                        </ul>
                    </li>
                    <li>Currently taking <i>The <b>Python</b> Mega Course</i> at <b>Udemy</b>.</li>
                    <li>More than 10 years personal experience on GNU/Linux (Ubuntu, Linux Mint and Debian).</li>
                </ul>

                <h4>WORKING EXPERIENCE</h4>

                <ul>
                    <li>
                        <b>04/2019 - present</b> at <b>Biriden S.A.</b> as a <i>technician</i> where:
                        <ul>
                            <li>I improved my analytical and learning skills repairing scientific and laboratory instruments.</li>
                            <li>I developed my communication skills installing equipment and training the user.</li>
                            <li>Carried out calibrations and preventive maintenance in a methodical and organized way.</li>
                        </ul>
                    </li>
                    <li>
                        <b>01/2017 - 04/2019</b> at <b>Opicar S.A.</b> as a <i>technician</i> where:
                        <ul>
                            <li>I assembled, restored, repaired, configured and tested slot machines, bettering my manual and organization skills.</li>
                            <li>Also, participated in the implementation of new technologies (bill recycling and networking with RF and GSM) alongside the developers.</li>
                        </ul>
                    </li>
                </ul>

                <h4>FORMAL EDUCATION</h4>

                <ul>
                    <li>
                        <b>2015 - 2018 Technician on electronics</b> at ITS
                        <ul>
                            <li>Analogical and digital electronics. Assembly programming for microcontrollers.</li>
                        </ul>
                    </li>
                    <li><b>2010 - 2012: Secondary education on engineering branching</b></li>
                </ul>

                <h4>LANGUAGES</h4>

                <ul>
                    <li>
                        <b>Spanish:</b> Native
                    </li>
                    <li>
                        <b>Engish:</b> Advanced-intermediate (C1)
                    </li>
                    <li>
                        <b>Portuguese:</b> Advanced-intermediate (B2)
                    </li>
                </ul>
            </div>



        </div>
        {{>footer}}
    </body>
</html>
