<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.webp">
        <script src="/js/main.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div id="sessionID" style="display:none;">{{sessionID}}</div>
            <p>My name is Juan Cabrera, I'm an electronics technician and a programer.</p>
            <p>I'd love to share some projects of mine and that's why I've created this web site.</p>
            <p>More content will be added in the future.</p>
            <p>Every one is welcome to poke around. If you break something, let me know ;)</p> <p></p>

        </div>
        {{>footer}}
    </body>
</html>
