<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.webp">
        <script src="/js/main.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div id="sessionID" style="display:none;">{{sessionID}}</div>
            <p>This website has been created in order to host my professional information as well as personal projects</p> <p>Every one is welcome to poke around. If you break something, let me know ;)</p> <p></p>
        </div>
        {{>footer}}
    </body>
</html>
