<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" href="/img/weather.webp">
        <!-- <script src="../js/result.js"></script> -->
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p></p>
            <img src="/results/{{image}}" alt="">
        {{>footer}}
    </body>
</html>
