<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" href="/img/weather.webp">
        <script src="../js/filter.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p></p>

            <form enctype="multipart/form-data" action="/filter/set-filter" method="POST" name="filetoupload" >
                <label for="filter">Choose a filter</label>
                <select name="filter">
                  <option value="copy" selected>Copy</option>
                  <option value="negative">Negative</option>
                  <option value="mirror">Mirror</option>
                  <option value="edges">Edges</option>
                  <option value="caricature">Caricature</option>
                </select>
            </form>


            <div id="input_img" class='input_img_container'></div>
            </div>
        {{>footer}}

    </body>
</html>
